WebScannerReport.html filter=lfs diff=lfs merge=lfs -text
WebScannerReport.md filter=lfs diff=lfs merge=lfs -text
core filter=lfs diff=lfs merge=lfs -text
HOW_TO_RUN.txt filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
README.txt filter=lfs diff=lfs merge=lfs -text
run.bat filter=lfs diff=lfs merge=lfs -text
WebScanner.jar filter=lfs diff=lfs merge=lfs -text
